pipeline/pl_truncate_load_files_csv3.json
{
	"name": "pl_truncate_load_files_csv3",
	"properties": {
		"activities": [
			{
				"name": "Truncate_All_Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_truncate_all_tables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetMetadata_H_ECOM_ORDER",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate_All_Tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "h_ecom_source",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "*",
								"type": "Expression"
							},
							"folderName": {
								"value": "raw/H_ECOM_ORDER",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						{
							"value": "childItems",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_H_ECOM_ORDER",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_H_ECOM_ORDER",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_H_ECOM_ORDER').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data3",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE [dbo].[H_ECOM_Orders];",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "OrderID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OrderID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OrderDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OrderDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Amount",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "h_ecom_source",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"folderName": "raw/H_ECOM_ORDER/"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "h_ecom_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string"
			}
		},
		"variables": {
			"Item": {
				"type": "Array"
			},
			"getmeta": {
				"type": "String"
			},
			"variable1": {
				"type": "String"
			},
			"variable": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-20T15:22:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}