pipeline/pl_truncate_load_files_csv1.json
{
	"name": "pl_truncate_load_files_csv1",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_CUST_MSTR",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate_CUST_MSTR",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "cust_mstr_source",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "raw/CUST_MSTR/",
								"type": "Expression"
							},
							"fileName": {
								"value": "*",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						{
							"value": "childItems",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_CUST_MSTR",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_CUST_MSTR",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_CUST_MSTR').output.childItems\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Date",
											"value": {
												"value": "@formatDateTime(concat(substring(split(item().name, '_')[2], 0, 4), '-', substring(split(item().name, '_')[2], 4, 2), '-', substring(split(item().name, '_')[2], 6, 2)), 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE [dbo].[CUST_MSTR];\n",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CustomerName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CustomerName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Email",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Email",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Phone",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Phone",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Date",
												"type": "String"
											},
											"sink": {
												"name": "Date",
												"type": "DateTime",
												"physicalType": "date"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "cust_mstr_source",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "raw/CUST_MSTR/",
										"fileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "cust_mstr_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Truncate_CUST_MSTR",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_truncate_cust_mstr]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string"
			}
		},
		"variables": {
			"Item": {
				"type": "Array"
			},
			"getmeta": {
				"type": "String"
			},
			"variable1": {
				"type": "String"
			},
			"variable": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-20T15:39:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}